* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 9vh auto 1fr 400px;
}
nav {
  grid-row: 1/2;
  grid-column: 1/3;
  background-color: #23272e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #4c525e;
}
aside {
  background-color: #282c34;
  grid-column: 1/2;
  grid-row: 2/4;
  text-align: center;
  color: #dbdbdb;
  font-size: 20px;
  font-weight: bold;

  padding: 10px;
  border-right: 1px solid #4c525e;
}
main {
  grid-column: 2/3;
  grid-row: 2/4;
}
article {
  height: 100%;
}
footer {
  grid-column: 1/3;
  grid-row: 4/5;
  background-color: #343841;
  border-top: 1px solid #4c525e;
}
.detail {
  grid-column: 1/-1;
  object-fit: contain;
  object-position: top;
  margin: auto;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
  grid-auto-rows: auto;
  gap: 1rem;
  padding: 15px;
}
.galery-item {
  border-radius: 5px;
  width: 100%;
}

input,
button {
  font-size: 15px;
  padding: 8px;
  margin: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: #282c34;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.514);
}
[type="number"] {
  width: 100px;
}
button {
  background-color: #414855;
}
button:hover {
  background-color: rgb(209, 209, 209);
  color: #252525;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}
input:focus {
  outline: none;
  background-color: #dbdbdb;
  color: black;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}
input::placeholder {
  color: rgba(233, 233, 233, 0.753);
  font-weight: 200;
}
input:focus::placeholder {
  color: #282c34;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: #c3cc3f;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

ul {
  list-style: none;
  margin-top: 20px;
}
li {
  border: 1px solid #dbdbdb6e;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 780px) {
  /*mobile*/
  aside {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  main {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  footer {
    grid-column: 1/3;
    grid-row: 4/5;
  }
}

@media screen and (min-width: 2400px) {
  /*Hight res*/
  .App-content {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 50rem), 1fr));
  }
  aside {
    font-size: 40px;
  }
  a {
    font-size: 40px;
  }
  input,
  button {
    font-size: 30px;
    padding: 16px;
    margin: 20px;
  }
}
