* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 9vh 1fr 400px;
}
nav {
  grid-column: 1/6;
  grid-row: 1/2;
  background-color: #23272e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #4c525e;
}
aside {
  background-color: #282c34;
  grid-column: 1/2;
  grid-row: 2/3;

  border-right: 1px solid #4c525e;
}
main {
  grid-column: 2/6;
  grid-row: 2/3;
}
footer {
  grid-column: 1/6;
  grid-row: 3/4;
  background-color: #343841;
  border-top: 1px solid #4c525e;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}
.galery-item {
  flex: 1;
  border-radius: 5px;
}

input,
button {
  font-size: 15px;
  padding: 8px;
  margin: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: #282c34;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.514);
}
[type="number"] {
  width: 100px;
}
button {
  background-color: #414855;
}
button:hover {
  background-color: rgb(209, 209, 209);
  color: #252525;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}
input:focus {
  outline: none;
  background-color: #dbdbdb;
  color: black;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}
input::placeholder {
  color: rgba(233, 233, 233, 0.753);
  font-weight: 200;
}
input:focus::placeholder {
  color: #282c34;
}
